@import '~@/assets/stylesheets/foundation/config';
@import '~@/assets/stylesheets/foundation/helpers';

.app-SongList {
  padding: 0;
  background: $white;
  box-shadow: $box-shadow-default;
}

.app-SongList_Results {
  list-style: none;
  overflow: auto;
  max-width: 600px;
  max-height: 300px;
  padding: 0;
  margin: 0;
  background: $white;
}

.app-SongList_Buttons {
  display: none;
  margin-left: auto;

  [class^='app-PlayerControls']:not(:last-child) {
    margin-right: .5em;
  }
}

.app-SongList_Item {
  display: flex;
  align-items: center;
  padding: .5em;
  border-bottom: $border-default;

  img {
    width: 45px;
    height: 45px;
    margin-right: 1em;
  }

  &:hover {
    .app-SongList_Buttons {
      display: flex;
    }
  }
}

.app-SongList_ItemTitle {
  @include ellipsis;
  width: 350px;
  margin: 0;
}

.app-SongList_ItemSubtitle {
  color: $grey-medium;
}